# IntelliJ / Android Studio
*.iml
.idea/*
!.idea/codeStyles
!.idea/inspectionProfiles

# 如果不想共享代码格式和检查规则，直接用这一行忽略所有
# .idea/

# Gradle
.gradle/
build/
*/build/

# 本地配置文件
local.properties
*.keystore
*.jks

# macOS
.DS_Store

# NDK / CMake 构建目录
.externalNativeBuild
.cxx

# Android Studio 运行和缓存文件
captures/
.idea/shelf/
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/AndroidProjectSystem.xml

# 可能的 Patch/临时文件
*.patch